<div class="p-3">
  <div class="mb-3">
    <div class="form-group">
      <input class="form-control" ng-model="chosenPlace" placeholder="Ricerca luogo" place-detail="placeDetail" place-autocomplete/>
    </div>
    <gmap-pick style="display: block;height: 200px;" place-detail="placeDetail"></gmap-pick>
  </div>
  <form name="editFacilityForm">
    <div class="form-group">
      <label for="nameInput">Nome</label>
      <input type="text" name="name" id="nameInput" class="form-control form-control-lg" ng-model="facility.name" placeholder="Nome impianto" required>
    </div>
    <div class="form-group">
      <label for="addressInput">Indirizzo</label>
      <input type="text" name="address" id="addressInput" class="form-control" ng-model="facility.address" placeholder="Indirizzo" required>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <label id="latInput">Latitudine</label>
        <input type="text" name="lat" id="latInput" class="form-control" ng-model="facility.lat" readonly="readonly" required>
      </div>
      <div class="form-group col-6">
        <label id="lngInput">Longitudine</label>
        <input type="text" name="lng" id="lngInput" class="form-control" ng-model="facility.lng" readonly="readonly" required>
      </div>
    </div>
    <div class="my-3 text-right">
      <button ng-click="saveFacility()" ng-if="updateMode" class="btn btn-secondary">Elimina</button>
      <button ng-click="saveFacility()" ng-disabled="editFacilityForm.$invalid" class="btn btn-primary">Salva</button>      
    </div>
  </form>
</div>
<div class="p-3 border-top">
  <h5 class="mb-3">Ruoli</h5>
  <div ng-repeat="(index, role) in facility.roles" class="form-row">
    <div class="form-group col-8">
      <input type="text" name="role" id="roleInput{{ index }}" class="form-control" ng-model="role.description" placeholder="Nome ruolo">
    </div>
    <div class="form-group col-4">
      <select class="form-control" ng-model="role.color" ng-options="item.hex as item.label for item in ::colors">
        <option value="">-- Colore --</option>
      </select>
    </div>
  </div>
  <button type="button" class="btn btn-outline-primary" ng-click="addRole()">Aggiungi ruolo</button>
</div>